body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#__layout {
    max-width: $content-max-width;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: auto;
    pre {
        max-width: 70vw;
    }
}
